<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id="addSquare">Add</button>
    <div class="pool">
    </div>
    <script src="/javascripts/libs/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/libs/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/javascripts/app/app.js"></script>
  </body>
</html>